doctype html
html
    head
        title Knowledgebase
        link(rel="stylesheet", href="/bower_comp/bootstrap/dist/css/bootstrap.min.css")
        link(href="/stylesheet/style.css")
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            a.navbar-brand(href='/') Knowledgebase
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavAltMarkup.collapse.navbar-collapse.justify-content-end
                .navbar-nav
                    
                    a.nav-item.nav-link(href="/")
                        | Home 
                        span.sr-only (current)
                    if (user)
                        a.nav-item.nav-link(href='/articles/add') Articles
                    if (user)
                        a.nav-item.nav-link(href="/users/logout") logout
                    else
                        a.nav-item.nav-link(href='/users/login') login       
                        a.nav-item.nav-link(href='/users/register') Register
                                
        .container
            != messages('message', locals)
            block content
        
            hr
            footer
                p CopyRight &copy; 2018
        script(src="/bower_comp/jquery/dist/jquery.min.js")
        script(src="/bower_comp/bootstrap/dist/js/bootstrap.min.js")
        script(src="/js/main.js")